@{
    ViewBag.Title = "O nas";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Aplikacja informująca o stanie magazynowym poszczególnych produktów.</p>
@Html.ActionLink("Kontakt", "Contact")
