@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Magazyner<br />
    Katowice 40-287, 1 Maja 48<br />
    <abbr title="Telefon">Tel:</abbr>
    500 600 700
</address>

<address>
    <strong>Pomoc:</strong>   <a href="mailto:pomoc@example.com">pomoc@example.com</a><br />
    <strong>Kontakt:</strong> <a href="mailto:kontakt@example.com">kontakt@example.com</a>
</address>