@{
    ViewBag.Title = "Magazyner";
}
@if (TempData["Logout"] != null)
{
    <h4 class="text-info">@TempData["Logout"]</h4>
}
<div class="jumbotron">
    <h1>Magazyner</h1>

</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>